# PostgreSQL
POSTGRES_DB=securetaskops
POSTGRES_USER=secureuser
POSTGRES_PASSWORD=securepass

# Backend
FLASK_ENV=development
DATABASE_URL=postgresql://secureuser:securepass@postgres:5432/securetaskops

# Frontend
REACT_APP_API_URL=http://localhost:5000
